.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(179, 172, 172);
  z-index: 100;
}

.text-center {
  margin: auto;
}

.botttom-image-nav {
  padding: 0.5em;
  align-items: center;
  display: flex;
}

.colorb {
  color: black !important;
}

.botttom-image-nav span {
  margin-right: 0.5em;
  color: #a1a5b7;
}

.botttom-image-nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5em;
}

.botttom-image-nav a:hover {
  opacity: 0.6;
  color: #ff6d6d;
}

@media (max-width: 600px) {
  .nav {
    height: auto; /* Adjust height to auto for smaller screens */
  }
  .botttom-image-nav {
    margin: 0 auto; /* Center the navigation items */
    padding: -10em; /* Add some padding */
    justify-content: center; /* Center the content horizontally */
  }
  .botttom-image-nav a {
    margin-left: 1em; /* Increase margin for better spacing */
  }
  .botttom-image-nav {
    display: flex;
    flex-direction: column-reverse;
  }
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(179, 172, 172);
  padding: 0.5em;
  height: 2em;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.topbar-left {
  font-size: 24px;
}

.topbar-right img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 35.16px;
  text-align: left;
}

.cart_icon {
  width: 2em;
  position: relative;
  left: -3em;
}
