/** @format */
/** @format */
/** @format */
:root {
  --primary-clr-400: #ff5722;
}

/** @format */
body {
  margin: 0;
  padding: 0;
}

body,
body::before body::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.1;
  color: var(--primary-clr-400);
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 0.45em;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/** @format */
/** @format */
